body{
    width: 100%;
    background-color: #F5F5F5;
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}
h1{
    margin-top: 0;
    font-family: 'Sacramento', cursive;
}
h2{
    font-family: 'Montserrat', sans-serif;
}
#top{
    background-color: #E4F9F5;
    padding-top: 100px;
    padding-bottom: 0;
    margin-bottom: 0;
}
#middle-container{

}
#bottom-container{
}
#cloud{
    position: absolute;
    left: 150px;
    top: 200px;
}
#top_cloud{
    position: absolute;
    top: 50px;
    right: 200px;
}
td{
    text-align: center;
}
ul{
    display: inline-block;
}
#foot{
    background-color: #1EB2A6;
}
#land{
    height: auto;
    margin: 1px auto;
}